
        <div class="doc-footer">
          <p class="doc-powered-by"><i class="fa fa-cogs"></i> Powered by <a href="http://trulia.github.io/hologram/" target="_blank">hologram</a> and <a href="https://github.com/jaceju/groot-theme" target="_blank">groot-theme</a>.</p>
        </div>

      </div>

    </div>

    <script>
      var searchData = [
        <% @pages.each do |file_name, page| %>
          <% if not page[:blocks].empty? %>
            <% page[:blocks].each do |block| %>
              <% file_path = block[:categories][0].to_s.gsub(' ', '_').downcase + '.html' %>
              <% file_id = "#"+block[:name].to_s %>
              <%= "{" %>
              <%= "\"data\": \""+block[:title].to_s+"\"," %>
              <%= "\"value\": \""+block[:categories][0].to_s+" > "+block[:title]+"\"," %>
              <%= "\"url\": \""+file_path+file_id+"\"" %>
              <%= "}," %>
            <% end %>
          <% end %>
        <% end %>
      ];
    </script>

    <script src="./build/js/docs.js"></script>
    <% if @config['js_include'].to_s.strip.length != 0 %>
    <% @config['js_include'].each do |js| %>
    <script src="<%= js %>"></script>
    <% end %>
    <% end %>
  </body>

</html>
