*, *:before, *:after
  box-sizing: border-box

body
  margin: 0
  padding: 0
  font-size: 14px

p
  font-size: 1.5rem

a
  font-size: 1.5rem
  color: #333
  text-decoration: none

.sticky
  position: sticky
  top: 0

  &:before,
  &:after
    content: ''
    display: table
