h1.styleguide
  padding: 8px 5px
  font-family: 'Noto Sans', sans-serif
  font-size: 24px
  font-weight: bold
  border-bottom: 2px solid #ccc
  background: #eee

p.styleguide
  font-family: 'Noto Sans', sans-serif
  font-size: 16px
  padding-left: 5px
