$nav-height: 50px
$category-height: 50px
$content-padding: 10px
$side-width: 250px

.doc-navbar
  width: 100%
  height: $nav-height

  .doc-brand
    float: left

  .doc-search-form
    float: right
    height: $nav-height

.doc-container
  position: relative
  display: block
  overflow: hidden
  background-color: #fff
  border-left: 10px solid #eee

  & > .doc-sidebar
    position: relative
    float: left
    width: $side-width
    min-height: 100%

    .doc-sidebar-nav
      width: $side-width - ($content-padding * 3)

  & > .doc-content
    position: relative
    float: left
    width: 100%
    padding: 0 $side-width + $content-padding $content-padding $content-padding
    margin-right: -$side-width

    & > h1
      margin: 20px auto

    & > p
      margin: $content-padding * 2 0 !important
      color: #666

  & > .doc-footer
    position: relative
    clear: both
