$category-height: 5rem
$content-padding: 1rem
$side-width: 25rem

.doc-navbar
  position: fixed
  width: 100%
  z-index: 99

.doc-container
  position: relative
  display: block
  overflow: hidden
  padding-top: $category-height
  background-color: #fff

  & > .doc-content
    position: relative
    float: left
    width: 100%
    padding: 0 $side-width + 1rem $content-padding $content-padding * 2
    margin-right: -$side-width

    & > h1
      font-size: 2rem
      color: #666
      margin: 2rem auto

    & > p
      margin: 2rem 0 !important
      color: #666

  & > .doc-sidebar
    position: relative
    float: left
    width: $side-width
    min-height: 100%
    padding: $content-padding

    .doc-sidenav
      width: $side-width - 3rem

  & > .doc-footer
    position: relative
    clear: both
