.doc-content
  float: left
  overflow: hidden
  width: 100%
  padding: 1rem 20% 1rem 3rem
  margin-right: -20%
  // background: #0ff

.doc-sidebar
  float: left
  overflow: hidden
  width: 20%
  padding: 1rem
  // background: #f0f
