.doc-navbar
  background: #333
  padding: 1rem

  a
    color: #fff

  .doc-brand,
  .doc-nav
    display: inline-block

  .doc-brand
    font-size: 1.5rem

  .doc-nav
    list-style: none
    font-size: 1.2rem

    li
      display: inline-block
      margin-left: 2rem

