$nav-height: 5rem

.doc-navbar
  height: $nav-height
  padding-left: 1rem
  background: #333

  a
    display: block
    height: $nav-height
    line-height: $nav-height
    color: #fff

  .doc-brand,
  .doc-nav
    display: inline-block

  .doc-brand
    font-size: 1.5rem

  .doc-nav
    margin: 0
    padding: 0
    list-style: none
    font-size: 1.2rem

    li
      display: inline-block
      margin-left: 2rem

