$search-height: 60px

.doc-search-form
  position: relative
  display: block
  height: $search-height
  margin-left: -10px
  color: #fff
  background: #333
  border-left: 10px solid #363

  .doc-search-keyword
    width: $search-height * 3.5
    height: $search-height / 2
    margin: $search-height / 4
    padding: 3px $search-height / 2
    border-radius: $search-height / 4
    color: #fff
    border: none
    background: #ccc

  .doc-search-icon
    position: absolute
    z-index: 99
    width: $search-height / 2
    height: $search-height / 2
    top: $search-height / 4
    left: $search-height / 4
    line-height: $search-height / 2
    text-align: center

.autocomplete-suggestions
  padding: 10px
  border: 1px solid #999
  background: #FFF
  overflow: auto
  border-radius: $search-height / 4

.autocomplete-suggestion
  padding: 10px
  font-family: 'Noto Sans', sans-serif
  white-space: nowrap
  overflow: hidden
  border-radius: $search-height / 4

.autocomplete-selected
  background: #F0F0F0

.autocomplete-suggestions strong
  font-weight: normal
  color: #393

.autocomplete-group
  padding: 2px 5px
  strong
    display: block
    border-bottom: 1px solid #000
