.doc-sidebar

  .doc-sidenav
    margin: 0
    margin-right: 2rem
    padding: 0
    list-style: none

    li
      margin: 0

      a
        display: block
        padding: 1rem
        line-height: 1.5
        font-size: 1.5rem
        border-left: 5px solid transparent

      &.active > a, a:hover
        text-decoration: none
        background: #eee
        border-left: 5px solid #999
