/*doc
---
title: "Icons"
name: icons
category: "Components"
---

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porta arcu enim, ac commodo erat malesuada quis. Pellentesque ultricies tristique justo id efficitur.

Nam quis tristique enim. Phasellus sit amet cursus massa. Nullam molestie, dolor vitae pharetra eleifend, leo nulla feugiat ex, vitae bibendum neque leo non lacus. Morbi bibendum dolor sit amet aliquet elementum. Donec sit amet dui vitae quam auctor vulputate ac at urna. In vel urna et lacus pellentesque vehicula id vitae mi. Sed ornare bibendum bibendum. Pellentesque tincidunt tincidunt sagittis. Ut in ipsum malesuada, cursus elit sit amet, pellentesque lectus.

Donec tempor lorem tellus. Donec vitae justo tincidunt, maximus nibh ut, ullamcorper lectus. Maecenas pellentesque sem lacus. Donec at rhoncus lectus. In ullamcorper vestibulum nibh, vitae euismod sem volutpat ut. Duis ut condimentum magna. Integer eget pharetra orci. Aenean efficitur sapien sit amet nibh commodo, sit amet hendrerit magna feugiat. Ut a scelerisque magna. Sed at odio viverra, tempus erat eu, lobortis ex. Vestibulum fringilla faucibus nunc, id vulputate turpis efficitur eu.

```html_example
<i class="fa fa-sellsy"></i>
<i class="fa fa-server"></i>
<i class="fa fa-ship"></i>
<i class="fa fa-shirtsinbulk"></i>
<i class="fa fa-simplybuilt"></i>
<i class="fa fa-skyatlas"></i>
<i class="fa fa-street-view"></i>
<i class="fa fa-subway"></i>
<i class="fa fa-train"></i>
<i class="fa fa-transgender"></i>
<i class="fa fa-transgender-alt"></i>
<i class="fa fa-user-plus"></i>
<i class="fa fa-user-secret"></i>
<i class="fa fa-user-times"></i>
<i class="fa fa-venus"></i>
<i class="fa fa-venus-double"></i>
<i class="fa fa-venus-mars"></i>
<i class="fa fa-viacoin"></i>
<i class="fa fa-whatsapp"></i>
```
*/

