/*doc
---
title: "Icons"
name: Icons
category: "Components"
---

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porta arcu enim, ac commodo erat malesuada quis. Pellentesque ultricies tristique justo id efficitur.

```html_example
<button class="btn btn-primary">Buttons</buttons>
```
*/
