/*doc
---
title: "Typology"
name: typology
category: "Basics"
---

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porta arcu enim, ac commodo erat malesuada quis. Pellentesque ultricies tristique justo id efficitur.

Integer ut accumsan metus. Praesent eget efficitur risus. Etiam sagittis felis id mollis pretium. Phasellus vitae tincidunt urna. Integer posuere sollicitudin diam eleifend euismod. Nam iaculis commodo mauris ut dignissim. Cras elit ante, aliquam eget iaculis ornare, volutpat eu sapien. Ut felis ante, cursus vel nisl at, vestibulum vulputate velit. Maecenas et sodales nulla. Praesent non tempus lorem.

```html_example
<h1>H1. heading</h1>
<h2>H2. heading</h2>
<h3>H3. heading</h3>
<h4>H4. heading</h4>
<h5>H5. heading</h5>
<h6>H6. heading</h6>
```

Donec tempor lorem tellus. Donec vitae justo tincidunt, maximus nibh ut, ullamcorper lectus. Maecenas pellentesque sem lacus. Donec at rhoncus lectus. In ullamcorper vestibulum nibh, vitae euismod sem volutpat ut. Duis ut condimentum magna. Integer eget pharetra orci. Aenean efficitur sapien sit amet nibh commodo, sit amet hendrerit magna feugiat. Ut a scelerisque magna. Sed at odio viverra, tempus erat eu, lobortis ex. Vestibulum fringilla faucibus nunc, id vulputate turpis efficitur eu.

See [Buttons][buttons] for more info.
*/
