/*doc
---
title: "Typology"
name: typology
category: "Basics"
---

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porta arcu enim, ac commodo erat malesuada quis. Pellentesque ultricies tristique justo id efficitur.

```html_example
<h1>H1. heading</h1>
<h2>H2. heading</h2>
<h3>H3. heading</h3>
<h4>H4. heading</h4>
<h5>H5. heading</h5>
<h6>H6. heading</h6>
```
*/
