doctype html
html
  head
    meta(charset='utf-8')
    title UI Patterns
    link(rel='stylesheet', href='./css/docs.css')
  body
    nav.doc-navbar
      a.doc-brand(href='#') UI Patterns
      ul.doc-nav
        li
          a(href='./index.html') HOME
        li
          a(href='basics.html') Basics
    .doc-container

      .doc-content
        h1#basics Basics
        p The basic styles of this website.
        h1#colors Colors
        .codeExample
          .exampleOutput
            .block
          .codeBlock
            .highlight
              pre
                span.nt &lt;div&nbsp;
                span.na class=
                span.s &quot;block&quot;
                span.nt &gt;&lt;/div&gt;
        h1#typology Typology
        .codeExample
          .exampleOutput
            h1 h1. Heading
            h2 h2. Heading
            h3 h3. Heading
            h4 h4. Heading
            h5 h5. Heading
            h6 h6. Heading
          .codeBlock
            .highlight
              pre
                span.nt &lt;h1&gt;
                | h1. Heading
                span.nt &lt;/h1&gt;
                br
                span.nt &lt;h2&gt;
                | h2. Heading
                span.nt &lt;/h2&gt;
                br
                span.nt &lt;h3&gt;
                | h3. Heading
                span.nt &lt;/h3&gt;
                br
                span.nt &lt;h4&gt;
                | h4. Heading
                span.nt &lt;/h4&gt;
                br
                span.nt &lt;h5&gt;
                | h5. Heading
                span.nt &lt;/h5&gt;
                br
                span.nt &lt;h6&gt;
                | h6. Heading
                span.nt &lt;/h6&gt;

      .doc-sidebar
        ul.doc-sidenav
          li
            a(href='#colors') Colors
          li
            a(href='#typology') Typology
