doctype html
html
  head
    meta(charset='utf-8')
    title UI Patterns
    link(rel='stylesheet', href='./css/docs.css')
  body
    nav.doc-navbar
      a.doc-brand(href='#') UI Patterns
      ul.doc-nav
        li
          a(href='./index.html') HOME
        li
          a(href='basics.html') Basics
    .doc-container
      .doc-content
        h1#basics Basics
        h2 Basics
        h3 Colors
        .codeExample
          .exampleOutput
            .block
          .codeBlock
            .highlight
              pre
        h3 Typology
        .codeExample
          .exampleOutput
            h1 h1. Heading
            h2 h2. Heading
            h3 h3. Heading
            h4 h4. Heading
            h5 h5. Heading
            h6 h6. Heading
          .codeBlock
            .highlight
              pre
                span.nt &lt;h1&gt;
                | h1. Heading
                span.nt &lt;/h1&gt;
                br
                span.nt &lt;h2&gt;
                | h2. Heading
                span.nt &lt;/h2&gt;
                br
                span.nt &lt;h3&gt;
                | h3. Heading
                span.nt &lt;/h3&gt;
                br
                span.nt &lt;h4&gt;
                | h4. Heading
                span.nt &lt;/h4&gt;
                br
                span.nt &lt;h5&gt;
                | h5. Heading
                span.nt &lt;/h5&gt;
                br
                span.nt &lt;h6&gt;
                | h6. Heading
                span.nt &lt;/h6&gt;

      .doc-sidebar
        ul.doc-sidenav
          li
            a(href='#basics') Basics
